
# specific
*.pdf

# dirs
archives

## MIT 6.828
computer_science_courses/operating_system/6828/handouts
computer_science_courses/operating_system/6828/labs/jos_backup
computer_science_courses/operating_system/6828/labs/qemu